<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <br>
        <h1>Authors List</h1>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Books</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for author in list %}
                    <tr>
                        <td>{{ author.id }}</td>
                        <td>{{ author.name | upper }}</td>
                        <td>{{ author.books[0] | capitalize }}</td>
                        <td><img src="{{ asset(author.image) }}" alt="{{ author.name }}"class="rounded" style="width: 100px; height: auto;"></td>
                        <td>
                            <a href="{{ path('author_show', {'id': author.id}) }}" class="btn btn-info">Details</a>
                            <a href="{{ path('author_edit', {'id': author.id}) }}" class="btn btn-warning">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
